# Temporary python cache & build scripts
__pycache__/
*.pyc
.ipynb_checkpoints/
create_generic_pdf.py
create_notebook.py
create_pdf_report.py
generate_all_diagrams.py
generate_disfluent_audio.py
generate_tts_output.py
make_18sec_clip.py
plot_audio_features.py
